---
- name: Remove S3 bucket from PowerScale
  hosts: localhost
  connection: local
  gather_facts: false
  collections:
    - dellemc.powerscale

  tasks:
    - name: Remove S3 bucket "{{ s3_bucket_name }}"
      dellemc.powerscale.s3_bucket:
        onefs_host: "{{ onefs_host }}"
        port_no: "{{ port_no }}"
        verify_ssl: {{ verify_ssl }}
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        s3_bucket_name: "{{ s3_bucket_name }}"
        state: absent
