---
- name: Remove snapshot schedule from PowerScale
  hosts: localhost
  connection: local
  gather_facts: false
  collections:
    - dellemc.powerscale

  tasks:
    - name: Remove snapshot schedule "{{ name }}"
      dellemc.powerscale.snapshotschedule:
        onefs_host: "{{ onefs_host }}"
        port_no: "{{ port_no }}"
        verify_ssl: {{ verify_ssl }}
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        name: "{{ name }}"
        state: absent
