version: "3.8"
services:
  isi_mcp:
    build: isi_mcp_demo/isi_mcp/
    ports:
      - "8000:8000"
    environment:
      - DEBUG=${DEBUG:-}
      - ENABLE_ALL_TOOLS=${ENABLE_ALL_TOOLS:-}
      - VAULT_FILE=/app/vault/vault.yml
      - VAULT_PASSWORD=${VAULT_PASSWORD:-}
    volumes:
      - ./vault:/app/vault
      - ./playbooks:/app/playbooks
      - ./isi_mcp_demo/isi_mcp/config:/app/config
    networks:
      - isi_mcp_net

networks:
  isi_mcp_net:
    driver: bridge
